{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {{form_start(form,{'method':'POST'})}}
        {{form_row(form.email)}}
        {{form_row(form.password)}}
        {{form_row(form.roles)}}
        <button type="submit" class="btn btn-primary">Submit</button>
    {{form_end(form)}}
</div>

{% endblock %}
