{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p>Bienvenue sur Citrouille !</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col d-flex justify-content-center">
                <p>Fortifier l'orthographe !</p>
            </div>
            <div class="col d-flex justify-content-center">
                <p>Contact avec les élèves !</p>
            </div>
            <div class="col d-flex justify-content-center">
                <p>Fortifier le vocabulaire !</p>
            </div>
        </div>
    </div>
{% endblock %}
