{% extends 'base.html.twig' %}

{% import _self as formMacros %}

{% macro form_word(form) %}

	<div class="row">
		<div class="col">
			{{ form_row(form.word) }}
		</div>
	</div>
	<div class="row">
		<div class="col">
			{{ form_row(form.imageFile) }}
		</div>
		<div class="col">
			{{ form_row(form.soundFile) }}
		</div>
	</div>

{% endmacro form_word %}

{% block body %}

	<div class="container">
		{{ form_start(form) }}

		<div class="row">
			<div class="col">
				{{ form_row(form.name) }}
			</div>
			<div class="col">
				{{ form_row(form.difficulty) }}
			</div>
		</div>

		<hr class="my-4"></hr>

		{% set index = 1 %}
		<div id="wordList" data-prototype="{{ formMacros.form_word(form.words.vars.prototype)|e('html_attr') }}">
			{% for word in form.words %}
				<div class="card" id="{{index - 1}}">
					<div class="card-header">Ligne n°{{index}}</div>
					<div class="card-body">{{formMacros.form_word(word)}}</div>
				</div>
				{% set index = index + 1 %}
			{% endfor %}
		</div>
		
		<div class="row">
			<div class="col">
				<a href="#" class="btn btn-sm btn-info" id="btn-add-word">Ajouter un mot</a>
			</div>
		</div>

		<div class="row">
			<div class="col">
				{% if edit_mode == false %}
					<button type="submit" class="btn btn-sm btn-primary">Ajouter la série</button>
				{% else %}
					<button type="submit" class="btn btn-sm btn-primary">Modifier la série</button>
				{% endif %}
			</div>
		</div>
		
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	{{ encore_entry_script_tags('formSerieHelper') }}

{% endblock %}