{% extends "base.html.twig" %}

{% block body %}

	<div class="container">
		{{ form_start(form) }}
		<div class="row">
			<div class="col d-flex justify-content-center">
				{{form_row(form.zipFile)}}
			</div>
		</div>
		<div class="row">
			<div class="col d-flex justify-content-center">
				<button type="submit" class="btn btn-primary">Importer la liste</button>
			</div>
		</div>
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	{{ encore_entry_script_tags('formUploadHelper') }}


{% endblock %}
