{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<form action="{{ path('result', {id : id}) }}" method="POST">
			<div id="carouselGame" class="carousel slide jumbotron bg-secondary" data-ride="carousel">
				<ol class="carousel-indicators">
					{% set index = 0 %}
					{% for word in serie.words %}
						<li data-target="#carouselGame" data-slide-to={{ index }}></li>
						{% set index = index + 1 %}
					{% endfor %}
				</ol>
				<div class="carousel-inner">
					{% for word in serie.words %}
						<div class="carousel-item" data-word="{{ word.word }}">
							<div class="row">
								{% if word.imageFileName != null %}
									<div class="col d-flex justify-content-center">
										<img src="{{ vich_uploader_asset(word, 'imageFile') }}" alt="{{ word.imageFileName }}" style="height: 200px; width: auto;"/>
									</div>
								{% endif %}
								{% if word.soundFileName != null %}
									<div class="col d-flex justify-content-center">
										<audio controls autoplay>
											<source src="{{ vich_uploader_asset(word.soundFile, 'soundFile') }}">
											Your browser does not support the audio element.
										</audio>
									</div>
								{% endif %}
							</div>
							<hr class="my-4"/>
							<div class="row">
								<div class="col d-flex justify-content-center">
									<div class="form-group">
										<input type="text" name="{{word.word}}" class="form-control" id="word-{{word.word}}" placeholder="Enter a word">
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<a class="carousel-control-prev" href="#carouselGame" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselGame" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<div class="row">
				<div class="col d-flex justify-content-center">
					<button class="btn btn-primary" type="submit">Valider la dictée</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block javascripts %}

	{{ parent() }}

	{{ encore_entry_script_tags('game') }}

{% endblock %}
