{% extends "base.html.twig" %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col d-flex justify-content-center">
				<p>
					Félicitation !
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col d-flex justify-content-center">
				<p>
					Votre score est de :
					{{ points }}
					point(s) sur
					{{ maxPoints }}
					!
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Attendu</th>
							<th scope="col">Reçu</th>
						</tr>
					</thead>
					<tbody>
						{% for key, value in results %}
							<tr>
								<td>{{ key }}</td>
								<td>{{ value }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col d-flex justify-content-center">
				<a href="{{ path('series_table') }}" class="btn btn-primary">Revenir à la liste de dictée</a>
			</div>
		</div>
	</div>

{% endblock %}
