{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		{% if is_granted('ROLE_PROF') %}
			<div class="row">
				<div class="col mr-auto">
					<a class="btn btn-primary" href="{{ path('serie_new') }}">Ajouter une liste</a>
					<a class="btn btn-primary" href="{{ path('upload_serie') }}">Importer une liste</a>
				</div>
			</div>
			<hr class="my-4">
			</hr>
		{% endif %}
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Difficulty</th>
					<th scope="col" style="width:2%">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for serie in series %}
					<tr>
						<th scope="row">{{ serie.id }}</th>
						<td>{{ serie.name }}</td>
						<td>{{ serie.difficulty }}</td>
						<td>
							<a href="{{ path('game', {id: serie.id}) }}" style="color:inherit;">
								<i class="fas fa-gamepad"></i>
							</a>
							<a href="{{ path('download_serie', {id: serie.id}) }}" target="_blank" style="color:inherit;">
								<i class="fas fa-file-archive"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}