<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Citrouille
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
			<a class="navbar-brand" href={{path('index')}}>Citrouille</a>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href={{path('about')}}>A propos</a>
					</li>
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" href={{path('account')}}>Compte</a>
						</li>
						<li>
							<a class="nav-link" href={{path('logout')}}>Se déconnecter</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href={{path('login')}}>Se connecter</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href={{path('register')}}>Créer un compte</a>
						</li>
					{% endif %}
				</ul>
				<ul class="navbar-nav ml-auto">
					<li>
						<a class="nav-link" href={{path('series_table')}}>Liste de dictée</a>
					</li>
				</ul>
			</div>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
