{% extends "base.html.twig" %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col d-flex justify-content-center">
				Error 404
			</div>
		</div>
	</div>

{% endblock %}
